@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #c1c1c1;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.header-conteiner {
    margin-bottom: 30px;
    width: 100%;
}

.choose-color {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.colors {
    display: inline-block;
    width: 150px;
    height: 100px;
    border: 1px solid black;
    padding: 20px;
}